<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="{{ this.alt }}">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-62093919-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-62093919-4');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- pygments -->
    <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">

    <!-- main styles -->
    <link rel="stylesheet" href="{{ '/styles/main.min.css'|url }}" type="text/css" media="all">

    <title>{{ config.PROJECT.name }}</title>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <img class="logo mt-5" src="{{ config.PROJECT.logo|url }}" alt="{{ config.PROJECT.name }}">
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ '/scripts/jquery.slim.min.js'|url }}"></script>
    <script src="{{ '/scripts/popper.min.js'|url }}"></script>
    <script src="{{ '/scripts/bootstrap.min.js'|url }}"></script>
  </body>
</html>
