.navigation-wrapper {
  background: #b2dfdb;

  @include media-breakpoint-up(md) {
    height: 100vh;

    .navigation {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      max-width: inherit;
    }
  }
}

.logo {
  max-width: 80%;
}
